*.cer
*.zip
*.obj
*.dll
*.exe
*.tlog
*.ncb
*.suo
*.lib
*.res
*.pdb
*.tlh
*.tli
*.opensdf
*.manifest
*.exp
*.lastbuildstate
*.sdf
*.log
*.ipch
*manifest.rc
*.idb
*.unsuccessfulbuild
*.user
*.wrn
x64/*
_UpgradeReport_Files/*